<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sureli.b2cmarket.catalogue.dao.CatalogueDao">
	<sql id="baseColum"> `parent_id`, `catalogue_name`, `commodity_count`,
		`active_flag`, `create_by`, `create_date`, `update_by`, `update_date`
	</sql>
	<sql id="baseSelect">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM tb_catalogue WHERE active_flag = 1
	</sql>
	<insert id="save">
		INSERT INTO `b2c_market`.`tb_catalogue` (
		<include refid="baseColum"></include>
		)
		VALUES (#{parentId}, #{catalogueName}, #{commodityCount},
		#{activeFlag},#{createBy},#{createDate}, #{updateBy}, #{updateDate});
	</insert>
	<update id="update">
		UPDATE `b2c_market`.`tb_catalogue` SET `parent_id` = #{parentId} , `catalogue_name`
		= #{catalogueName} , `commodity_count` = #{commodityCount}, `active_flag` = #{activeFlag}
		,`create_by` =
		#{createBy}, `create_date` = #{createDate} ,
		`update_by` =
		#{updateBy}
		, `update_date` = #{updateDate} WHERE
		`row_id` = #{rowId}
	</update>
	<select id="findOne" resultType="Catalogue">
		<include refid="baseSelect"></include>
		And row_id = #{rowId}
	</select>
	<select id="findBySearch" resultType="Catalogue">
		<include refid="baseSelect"></include>
		<if test="parentId!=null and parentId!=''">
			and parent_id = #{parentId}
		</if>
		<if test="catalogueName!=null and catalogueName!=''">
			and catalogue_name = #{catalogueName}
		</if>
		<if test="commodityCount!=null and commodityCount!=''">
			and commodity_count = #{commodityCount}
		</if>
	</select>
</mapper>