<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sureli.b2cmarket.orderdatecount.dao.OrderDateCountDao">
	<sql id="baseColum"> `year_data`, `month_data`,
		`day_data`, `order_count`,
		`active_flag`, `create_by`, `create_date`,
		`update_by`, `update_date`
	</sql>
	<sql id="baseSelect">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM tb_order_date_count WHERE active_flag = 1
	</sql>
	<insert id="save">
		INSERT INTO `b2c_market`.`tb_order_date_count`
		(`year_data`, `month_data`,
		`day_data`, `order_count`, `active_flag`,
		`create_by`, `create_date`,
		`update_by`, `update_date`) VALUES
		(#{yearData},#{monthData},#{dayData},#{orderCount},#{activeFlag},#{createBy},#{createDate},
		#{updateBy},
		#{updateDate})
	</insert>
	<update id="update">
		UPDATE `b2c_market`.`tb_order_date_count` SET
		`year_data` = #{yearData},`month_data` = #{monthData} , `day_data` =
		#{dayData} , `order_count` = #{orderCount} ,
		`active_flag` =
		#{activeFlag} , `create_by` = #{createBy} ,
		`create_date` =
		#{createDate} , `update_by` = #{updateBy} ,
		`update_date` =
		#{updateDate} WHERE `row_id` = #{rowId};
	</update>
	<select id="findOne" resultType="OrderDateCount">
		<include refid="baseSelect"></include>
		And row_id = #{rowId}
	</select>
	<select id="findAll" resultType="OrderDateCount">
		<include refid="baseSelect"></include>
	</select>
	<select id="findAllYear" resultType="java.lang.Integer">
		SELECT DISTINCT year_data
		FROM tb_order_date_count WHERE active_flag = 1
	</select>
	<select id="findMonthDateByYear" resultType="java.lang.Integer">
		SELECT DISTINCT month_data
		FROM tb_order_date_count WHERE active_flag = 1 and year_data = #{year}
	</select>
	<select id="findAllByYear" resultType="CodeCountParam">
		SELECT DISTINCT month_data as keyString,SUM(order_count) as valueString
		FROM tb_order_date_count WHERE active_flag = 1 AND year_data = #{year} GROUP BY month_data
	</select>
	
	<select id="findAllByYearAndMonth" resultType="CodeCountParam">
		SELECT DISTINCT day_data as keyString,order_count as valueString
		FROM tb_order_date_count WHERE active_flag = 1 AND year_data = #{year} and month_data = #{month}  ORDER BY day_data
	</select>
	<select id="findOneByDate" resultType="OrderDateCount">
		<include refid="baseSelect"></include>
		and `year_data` = #{yearData} and `month_data` = #{monthData} and `day_data` =
		#{dayData} 
	</select>

</mapper>