<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sureli.b2cmarket.user.dao.UserDao">
	<sql id="baseColum"> `user_type`, `user_name`, `user_code`, `user_password`,
		`user_phone`, `is_lock`, `last_login_ip`, `last_login_date`,
		`active_flag`, `create_by`, `create_date`, `update_by`, `update_date`
	</sql>
	<sql id="baseSelect">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM tb_user WHERE active_flag = 1
	</sql>
	<insert id="save">
		INSERT INTO `b2c_market`.`tb_user` (
		<include refid="baseColum"></include>
		)
		VALUES (#{userType}, #{userName}, #{userCode}, #{userPassword},
		#{userPhone}, #{isLock},#{lastLoginIp},#{lastLoginDate},
		#{activeFlag}, #{createBy},#{createDate}, #{updateBy}, #{updateDate});
	</insert>
	<update id="update">
		UPDATE `b2c_market`.`tb_user` SET `user_type` =
		#{userType} , `user_name` = #{userName}
		, `user_code` = #{userCode} ,
		`user_password` = #{userPassword} , `user_phone` =
		#{userPhone} ,
		`is_lock` = #{isLock} , `last_login_ip` = #{lastLoginIp} ,
		`last_login_date` = #{lastLoginDate} , `active_flag` = #{activeFlag} ,
		`update_by` = #{updateBy} , `update_date` = #{updateDate} WHERE
		`row_id` = #{rowId};
	</update>
	<select id="findOne">
	<include refid="baseSelect"></include> And row_id = #{rowId}
	</select>
	<!-- <select id="findUserByRowId" resultType="User">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM TB_USER WHERE ACTIVE_FLAG = 1 AND ROW_ID = #{rowId};
	</select>
	<select id="selectAll" resultType="User">
		<include refid="baseSelect"></include>
	</select>
	<select id="findUserBySearch" resultType="User">
		<include refid="baseSelect"></include>
		<if test="userName!=null and userName!=''">
			AND USER_NAME = #{userName}
		</if>
		<if test="userCode!=null and userCode!=''">
			AND USER_CODE = #{userCode}
		</if>
		<if test="loginCount!=null and loginCount!=''">
			AND LOGIN_COUNT = #{loginCount}
		</if>
		<if test="isLock!=null and isLock!=''">
			AND IS_LOCK = #{isLock}
		</if>
	</select>
	<select id="selectByCodeAndPassword" resultType="User">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM TB_USER WHERE ACTIVE_FLAG = 1 AND USER_CODE = #{userCode} AND
		USER_PASSWORD = #{userPassword};
	</select>
	<select id="selectByCodeAndRowId" resultType="User">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM TB_USER WHERE ACTIVE_FLAG = 1 AND USER_CODE = #{userCode} AND
		ROW_ID = #{rowId};
	</select> -->
</mapper>