<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sureli.b2cmarket.address.wishlist.dao.WishListDao">
	<sql id="baseColum"> `user_code`,
		`commodity_id`,
		`active_flag`, `create_by`,
		`create_date`, `update_by`,
		`update_date`
	</sql>
	<sql id="baseSelect">
		SELECT ROW_ID,
		<include refid="baseColum"></include>
		FROM tb_wishlist WHERE active_flag = 1
	</sql>
	<insert id="save">
		INSERT INTO `b2c_market`.`tb_wishlist` (`user_code`,
		`commodity_id`,
		`active_flag`, `create_by`, `create_date`, `update_by`,
		`update_date`)
		VALUES
		(#{userCode},#{commodityId},#{activeFlag},#{createBy},#{createDate},
		#{updateBy},
		#{updateDate})
	</insert>
	<update id="update">
		UPDATE `b2c_market`.`tb_wishlist` SET `user_code` =
		#{userCode} , `commodity_id` =
		#{commodityId} ,
		`active_flag` =
		#{activeFlag} ,
		`create_by` =
		#{createBy} ,
		`create_date` =
		#{createDate}
		, `update_by`
		= #{updateBy} ,
		`update_date` =
		#{updateDate} WHERE
		`row_id` = #{rowId};
	</update>
	<select id="findOne" resultType="WishList">
		<include refid="baseSelect"></include>
		And row_id = #{rowId}
	</select>
	<select id="findAll" resultType="WishList">
		<include refid="baseSelect"></include>
		and user_code = #{userCode}
	</select>
	<select id="findOneByCommodityId" resultType="WishList">
		<include refid="baseSelect"></include>
		and commodity_id = #{rowId}
	</select>
</mapper>